body {
    width: 100%;
    height: 2000px;
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
/* PREDEFINED STYLES */
a,
a:hover,
a:focus,
a:active,
button,
button:focus,
button:active {
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: inherit;
    text-decoration: none;
}
ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
textarea {
    resize: none;
}
.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: none;
}
/*  CUSTOM CURSOR  */
.progress-wrap {
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 0 2px #c0c3cf;
    box-shadow: inset 0 0 0 2px #c0c3cf;
    z-index: 10000;
}
.progress-wrap svg path {
    fill: none;
}
.progress-wrap svg.progress-circle path {
    stroke: #d98f28;
    stroke-width: 5;
}
.cursor,
.cursor2,
.cursor3 {
    position: fixed;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
}
.cursor {
    background-color: #fff;
    z-index: 99999;
    height: 0;
    width: 0;
}
.cursor2,
.cursor3 {
    height: 46px;
    width: 46px;
    z-index: 99998;
}
.cursor3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.04rem dashed transparent;
    border-radius: 50%;
    -webkit-animation: rotate 7s linear infinite;
    animation: rotate 7s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.cursor2.hover,
.cursor3.hover {
    -webkit-transform: scale(1.4) translateX(-35%) translateY(-35%);
    -ms-transform: scale(1.4) translateX(-35%) translateY(-35%);
    transform: scale(1.4) translateX(-35%) translateY(-35%);
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.cursor3.hover:after {
    border-color: #fff;
}
.cursor2.hover {
    background: #7e7d7b;
    mix-blend-mode: difference;
    opacity: 0.4;
}
.cursor2.hover .progress-wrap {
    opacity: 0;
}

/* ANIMATED SHAPE */
.animated-shape {
    position: fixed;
    top: 1.8rem;
    right: 2rem;
    z-index: 17;
    height: 50px;
    width: 50px;
    background: #d98f28;
    -webkit-animation: border-transform 4s linear infinite alternate forwards;
    animation: border-transform 4s linear infinite alternate forwards;
}
.animated-shape::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    background: #d98f28;
    opacity: 0.5;
    -webkit-animation: border-transform 6s linear infinite alternate forwards;
    animation: border-transform 6s linear infinite alternate forwards;
}
@-webkit-keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}
@keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}
/*  BACK TO TOP BUTTON STYLE  */
.back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 5rem;
    text-align: center;
    padding: 0.2rem 0.4rem 0.3rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 17;
    display: none;
}
.back-to-top ion-icon {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 1.3rem;
}
.back-to-top:hover {
    background: rgba(0, 0, 0, 0.8);
}
/* CHAT BUTTON STYLE  */
nav.chat {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 17;
}
.chat #chat__input {
    display: none;
}
.chat #chat__input:checked ~ a.chat__messanger {
    -webkit-transform: translate(-50%, -45px);
    -ms-transform: translate(-50%, -45px);
    transform: translate(-50%, -45px);
    opacity: 1;
    z-index: 1;
}
.chat #chat__input:checked ~ a.chat__whatsapp {
    -webkit-transform: translate(-50%, -90px);
    -ms-transform: translate(-50%, -90px);
    transform: translate(-50%, -90px);
    opacity: 1;
    z-index: 1;
}
.chat .chat__btn {
    display: block;
    margin: 0 -0.3rem 0 0;
    cursor: pointer;
}
.chat .chat__btn img {
    width: 2.5rem;
    -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}
.chat a.chat__messanger,
.chat a.chat__whatsapp {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.chat a.chat__messanger img {
    width: 2.3rem;
}
.chat a.chat__whatsapp img {
    width: 2rem;
}
/* NAVIGATION MENU  */
nav.navigation__menu {
    position: fixed;
    bottom: 10%;
    left: 5%;
    z-index: 14;
}
nav.navigation__menu .links__item {
    color: #dfdfdf;
    overflow: hidden;
}
nav.navigation__menu .links__item .links__title {
    display: inline-block;
    background: #333;
    padding: 0 0.2rem;
    margin-bottom: 1px;
    text-transform: uppercase;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    visibility: inherit;
}
@media (max-width: 767px) {
    nav.navigation__menu {
        bottom: 1rem;
        left: 1rem;
    }
    nav.navigation__menu .links__item .links__title {
        opacity: 1 !important;
        visibility: visible !important;
        -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        transform: translateY(0) !important;
        font-size: 0.8rem;
    }
}
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff url("../img/welcome.svg") center no-repeat;
    background-size: 700px;
    mix-blend-mode: screen;
    z-index: 15;
}
@media (max-width: 767px) {
    .splash-screen {
        display: none;
    }
}
.scroll-down {
    display: block;
    position: fixed;
    bottom: 3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-top: 0.5rem;
    color: #d98f28;
    font-weight: 600;
    z-index: 17;
}
@media (max-width: 767px) {
    .scroll-down {
        position: absolute;
        bottom: 1rem;
    }
}
.scroll-down:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    width: 2px;
    height: 50px;
    background: -o-linear-gradient(top, #d98f28 50%, rgba(255, 255, 255, 0) 50%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(50%, #d98f28),
        color-stop(50%, rgba(255, 255, 255, 0))
    );
    background: linear-gradient(to bottom, #d98f28 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 100% 200%;
    -webkit-animation: move 4s ease-in-out infinite;
    animation: move 4s ease-in-out infinite;
}
@-webkit-keyframes move {
    0% {
        background-position: 0 -100px;
    }
    100% {
        background-position: 0 100px;
    }
}
@keyframes move {
    0% {
        background-position: 0 -100px;
    }
    100% {
        background-position: 0 100px;
    }
}
.floated-main-logo {
    position: fixed;
    top: 1.5rem;
    left: 3rem;
    z-index: 17;
    width: 11rem;
    background: #fff;
    -webkit-box-shadow: 0 0 30px rgba(107, 107, 107, 0.1);
    box-shadow: 0 0 30px rgba(107, 107, 107, 0.1);
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
}
@media (max-width: 767px) {
    .floated-main-logo {
        top: 1rem;
        left: 1rem;
        width: 8rem;
    }
}
.floated-main-logo img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}
/* HEADER STYLE */
header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("../img/d.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
@media (max-width: 767px) {
    header.header {
        position: static;
    }
}
header.header .fancy-mask {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 140px;
    height: 200px;
    background: #000 url("../img/rainbow.jpg") repeat;
    background-blend-mode: luminosity;
    clip-path: polygon(0% 0%, 0% 100%, 10% 100%, 11% 8%, 90% 8%, 90% 92%, 10% 92%, 10% 100%, 100% 100%, 100% 0%);
    transform-origin: 50% 0;
    transform: translateX(120px) rotate(-30deg);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1), opacity 0.7s cubic-bezier(0.8, 0, 0.2, 1);
}
header.header .fancy-mask.show {
    transform: translateX(0) rotate(-5deg);
    opacity: 1;
    animation: round 25s linear infinite both;
}
@keyframes round {
    0% {
        background-position: bottom right;
    }
    50% {
        background-position: bottom left;
    }
    100% {
        background-position: bottom right;
    }
}
header .banner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}
header .banner h1.title {
    text-align: center;
    line-height: 1;
    overflow: hidden;
}
header .banner h1.title span.headline {
    display: inline-block;
    padding: 0 0.5rem;
    color: #454747;
    background: #e8e9ea;
    transform: translateY(150px);
}
header .banner h1.title span.headline strong {
    background: #fff;
    color: #d98f28;
    padding: 0 0.2rem;
    font-weight: 300;
}
.banner h1.title span.headline .char {
    opacity: 0;
    transform: translateX(50px) scale(0.5);
    transition: opacity 0.5s linear, transform 1s cubic-bezier(0.8, 0, 0.2, 1);
    transition-delay: calc(0.5s * var(--distance-percent));
}
header .banner h3.subtitle {
    position: relative;
    transform-style: preserve-3d;
    font-size: 22px;
    overflow: hidden;
}
header .banner h3.subtitle span.desc__inner {
    display: inline-block;
    color: #fff;
    background: #454747;
    padding: 0.5rem;
    line-height: 1;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
}
header .banner h3.subtitle span.desc__inner .word {
    transform-style: preserve-3d;
    clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%);
    transition: clip-path 1.2s cubic-bezier(0.8, 0, 0.2, 1);
    transition-delay: calc(0.3s + var(--word-index));
}
header .banner h3.subtitle span.desc__inner .word.active {
    clip-path: polygon(-15% 0%, 120% 0%, 120% 100%, -15% 100%);
}
@media (max-width: 1200px) {
    header .banner h3.subtitle {
        font-size: 1.2rem;
    }
}
@media (max-width: 992px) {
    header.header .fancy-mask,
    header .banner {
        display: none;
    }
}
header .form-contact {
    position: relative;
    width: 380px;
    padding: 2rem 1rem 1rem;
    margin-left: auto;
    margin-top: 3rem;
    text-align: center;
    border: 3px solid #fff;
    border-top: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
}
header .form-contact:after {
    content: "";
    position: absolute;
    top: -15%;
    left: -15%;
    width: 130%;
    height: 100%;
    background: #fff;
    border-radius: 35%;
    -webkit-clip-path: polygon(50% 0%, 100% 19%, 100% 20%, 50% 1%, 0 20%, 0 19%);
    clip-path: polygon(50% 0%, 100% 19%, 100% 20%, 50% 1%, 0 20%, 0 19%);
}
@media (max-width: 992px) {
    header .form-contact {
        margin: auto;
    }
}
@media (max-width: 767px) {
    header .form-contact {
        -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        transform: translateY(0) !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
}
@media (max-width: 575px) {
    header .form-contact {
        width: 90%;
        border: none;
        padding: 0;
    }
    header .form-contact:after {
        content: none;
    }
}
@media (max-width: 400px) {
    header .form-contact {
        width: 100%;
    }
}
header .form-contact h2 {
    background: #e8e9ea;
    color: #d98f28;
    padding: 0.9rem 0.2rem;
    margin: 0;
    font-size: 1.3rem;
}
@media (max-width: 450px) {
    header .form-contact h2 {
        font-size: 1rem;
        font-weight: 300;
        padding: 0.7rem 0.2rem;
    }
}
header .form-contact form {
    background: #fff;
    padding: 1rem;
}
header .form-contact form * {
    font-size: 1.2rem;
    letter-spacing: 0.075rem;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}
header .form-contact form .field {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}
header .form-contact form .field label {
    position: absolute;
    top: 0;
    left: 0;
    background: #454747;
    color: #e8e9ea;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 0.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 333ms ease-in-out;
}
header .form-contact form .field input[type="text"],
header .form-contact form .field textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding-left: 80px;
    color: #454747;
    background: #e8e9ea;
}
header .form-contact form #msg {
    height: 40px;
    padding-top: 8px;
    transition: all 333ms ease-in-out;
}
header .form-contact form textarea:focus#msg,
header .form-contact form textarea:not(:placeholder-shown)#msg {
    height: 120px;
}
header .form-contact form input[type="text"]:focus + label,
header .form-contact form input[type="text"]:not(:placeholder-shown) + label,
header .form-contact form textarea:focus + label,
header .form-contact form textarea:not(:placeholder-shown) + label {
    width: 75px;
    background: #d98f28;
}
header .form-contact form .field:hover label {
    width: 75px;
}
header .form-contact form input[type="submit"] {
    display: inline-block;
    background: #d98f28;
    color: #fff;
    -webkit-appearance: none;
    border: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 2rem;
    transition: all 0.3s ease-in-out;
}
header .form-contact form input[type="submit"]:hover,
header .form-contact form input[type="submit"]:focus {
    background: #454747;
}

/* SECTION TITLE STYLE */
.section-title {
    position: relative;
    height: 1.7rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.section-title > span.the-dash {
    position: absolute;
    top: 50%;
    left: 0;
    background: #4e4c4c;
    width: 35px;
    height: 2px;
    transform: translateY(-50%) scale(0);
    transform-origin: left;
    transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
    transition-delay: 1s;
}
.section-title > span.the-dash[data-scroll="in"] {
    transform: translateY(-50%) scale(1);
}
.section-title > span.the-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #4e4c4c;
    text-transform: uppercase;
    transition: left .5s cubic-bezier(0.8, 0, 0.2, 1);
    transition-delay: 1s;
}
@media (max-width: 575px) {
    .section-title > span.the-title {
        font-size: 1rem;
    }
}
.section-title > span.the-title[data-scroll="in"] {
    left: 45px;
}
.section-title > span.the-title span.l-word {
    color: #d98f28;
}
.section-title > span.the-title .char {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1), opacity 0.7s linear;
    transition-delay: calc(0.3s * var(--distance-percent));
}
.section-title > span.the-title[data-scroll="in"] .char {
    transform: translateX(0);
    opacity: 1;
}
/* MAIN CONTENT STYLE */
article.main-content {
    position: relative;
    z-index: 2;
    top: 220vh;
}
@media (max-width: 767px) {
    article.main-content {
        top: -4rem;
    }
}
/* FEATURES STYLE */
section.features {
    position: relative;
    z-index: 5;
    width: 75%;
    margin: auto;
    padding: 10rem 8rem 2rem;
    background: #fff url("../img/bg.jpg") center no-repeat;
    background-size: 100% 100%;
    -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
}
section.features:after {
    content: "";
    position: absolute;
    top: 20rem;
    right: 5%;
    width: 30%;
    height: 40%;
    background: url("../img/bg-dots.png") 95% 40% no-repeat;
    z-index: -1;
}
@media (max-width: 575px) {
    section.features:after {
        top: 40rem;
    }
}
section.features:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 30%;
    height: 40%;
    background: url("../img/bg-dots.png") 95% 40% no-repeat;
    z-index: -1;
}
@media (max-width: 1200px) {
    section.features {
        width: 85%;
        padding: 10rem 5rem 2rem;
    }
}
@media (max-width: 992px) {
    section.features {
        width: 90%;
        padding: 10rem 3rem 2rem;
    }
}
@media (max-width: 767px) {
    section.features {
        width: 100%;
        -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
        clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
    }
}
@media (max-width: 575px) {
    section.features {
        width: 100%;
        padding: 8rem 1rem 2rem;
        -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 5%);
        clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 5%);
    }
}
section.features .indicator {
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
}
section.features .indicator svg {
    width: 100%;
    height: 100%;
    fill: #757575;
}
.features .feature {
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 2px 5px 15px rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}
.features .feature .icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.features .feature .icon svg {
    fill: #d98f28;
    width: 100%;
    height: 100%;
}
.features .feature .title h5 {
    font-size: 1rem;
    color: #242424;
}
.features .feature .desc p {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    color: #494949;
}
.features .gate {
    position: relative;
    width: 60%;
    height: 0;
    padding-top: 56%;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    margin: 1rem auto;
    border-radius: 50% 50% 0 0;
    border: 2px solid #555;
}
.features .gate img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50% 50% 0 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*  ABOUT PROPERTY SECTION STYLE */
section.about-prop {
    position: relative;
    padding: 3rem 0;
    background: #fff;
}
@media (max-width: 767px) {
    section.about-prop {
        padding: 2rem 0;
    }
}
section.about-prop .inner-text .title {
    display: inline-block;
    color: #424040;
    font-size: 2rem;
    font-weight: 300;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.4rem 1rem;
}
section.about-prop .inner-text .title > span {
    color: #d98f28;
}
section.about-prop .inner-text .title + p {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    width: 75%;
    margin: auto;
}
@media(max-width: 575px) {
    section.about-prop .inner-text .title + p {
        width: 100%;
    }
}
section.about-prop .prop-details .inner-title {
    color: #242424;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.prop-details .full-details p {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    line-height: 2;
    border-left: 2px solid #000;
    padding-left: 1rem;
    margin-left: 1rem;
}
.prop-details .key-features ul li {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.7rem;
}
@media(max-width: 575px) {
    .prop-details .key-features ul li {
        font-size: .8rem;
    }
}
.prop-details .key-features ul li ion-icon {
    color: #d98f28;
    margin-right: 0.3rem;
}
section.about-prop .prop-details .box {
    width: 350px;
    margin-left: auto;
}
@media(max-width: 992px) {
    section.about-prop .prop-details .box {
        margin: auto;
    }
}
@media(max-width: 575px) {
    section.about-prop .prop-details .box {
        width: 100%;
    }
}
.prop-details .box__content {
    text-align: center;
    position: relative;
    padding: 1rem;
    height: 500px;
    transition: transform 3s;
    transform-style: preserve-3d;
}
@media(max-width: 992px) {
    .prop-details .box__content {
        height: 350px;
    }
}
.prop-details .box:hover .box__content {
    transform: rotateY(180deg);
}
.prop-details .box__front,
.prop-details .box__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prop-details .box__front {
    background-color: #b7c9e5;
    background-image: url('../img/d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: #333;
}
.prop-details .box__back::before,
.prop-details .box__front::before {
    content: "";
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    border: 3px solid currentColor;
    transform: translateZ(3rem);
}
.prop-details .box__title {
    font-size: 3.5rem;
    transform: translateZ(9rem);
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5rem;
}
.prop-details .box__subtitle {
    transform: translateZ(6rem);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.75rem;
    font-weight: 700;
}
.prop-details .box__body {
    transform: translateZ(6rem);
    line-height: 1.6;
}
.prop-details .box__back {
    font-family: "Poppins", sans-serif;
    transform: rotateY(180deg);
    color: #c4cff5;
    background: #3f3f3f;
}
section.about-prop .prop-slider-wrapper {
    position: relative;
}
section.about-prop .prop-slider-wrapper .tag {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -15px;
    width: 30px;
    height: 100%;
    z-index: 2;
    animation: swinging 5s ease-in-out infinite;
    transform-origin: left top;
}
@keyframes swinging {
    0% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}
@media (max-width: 767px) {
    section.about-prop .prop-slider-wrapper .tag {
        animation-play-state: paused;
    }
}
section.about-prop .prop-slider-wrapper .tag span.line {
    position: relative;
    width: 3px;
    height: 40%;
    background: #d98f28;
    z-index: 1;
}
section.about-prop .prop-slider-wrapper .tag span.txt {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    min-height: 30px;
    padding: 0.6rem 0;
    background: #d98f28;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}
section.about-prop .prop-slider-wrapper .tag span.txt span {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}
section.about-prop .prop-slider-wrapper .tag span.txt:after {
    content: "";
    position: absolute;
    top: -0.6rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 1rem;
    background: #d98f28;
    -webkit-clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
    clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
    z-index: -1;
}
section.about-prop .prop-slider-wrapper,
section.about-prop .prop-slider,
section.about-prop .prop-slider .item {
    width: 100%;
    height: 350px;
}
section.about-prop .prop-slider .item img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
section.about-prop .prop-slider-controllers {
    position: absolute;
    bottom: 0;
    right: -38px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 992px) {
    section.about-prop .prop-slider-controllers {
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}
section.about-prop .prop-slider-controllers button {
    border: none;
    margin: 0 0.1rem;
    padding: 0.1rem 0.5rem 0.35rem;
    font-size: 1.2rem;
    background: #f3f4f5;
}
section.about-prop .prop-slider-controllers button,
.prop-slider-controllers button ion-icon {
    display: inline-block;
    vertical-align: middle;
}
section.about-prop .prop-slider-controllers button.active {
    background: #d98f28;
    color: #fff;
}
.prop-slider-controllers .PrevArrow ion-icon {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
section.about-prop .prop-summary {
    background: #f3f4f5;
    height: 100%;
    padding: 0 2rem;
}
@media (max-width: 767px) {
    section.about-prop .prop-summary {
        padding: 0 1rem 1rem;
    }
}
section.about-prop .prop-summary .prop-location h5 {
    font-size: 1.5rem;
    color: #474747;
    padding: 1.5rem 0 0.7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.prop-summary .prop-location h5 .sub-title {
    display: block;
    padding-top: 0.2rem;
    font-size: 0.8rem;
    color: #777;
    font-family: "Poppins", sans-serif;
}
.prop-summary .prop-location h5 .sub-title ion-icon {
    color: #d98f28;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
section.about-prop .prop-summary .price-box {
    color: #d98f28;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}
section.about-prop .prop-summary .desc {
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}
section.about-prop .prop-summary .facilities li {
    margin-right: 0.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
section.about-prop .prop-summary .facilities li:last-child {
    margin-right: 0;
}
section.about-prop .prop-summary .facilities li svg {
    width: 25px;
    height: 25px;
    fill: #d98f28;
    margin-right: 0.5rem;
}
section.about-prop .prop-summary .facilities li > span {
    color: #777;
    font-family: "Poppins", sans-serif;
}
section.about-prop .panorama-slider {
    position: relative;
    height: 350px;
}
.panorama-slider .panorama-slider-controllers {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
section.about-prop .panorama-slider-controllers button {
    border: none;
    margin: 0 0.1rem;
    padding: 0.1rem 0.5rem 0.35rem;
    font-size: 1.2rem;
    background: #f3f4f5;
}
section.about-prop .panorama-slider-controllers button,
.panorama-slider-controllers button ion-icon {
    display: inline-block;
    vertical-align: middle;
}
.panorama-slider-controllers .PrevArrow ion-icon {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.panorama-slider .slider-for .item-for {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 350px;
    overflow: hidden;
}
.panorama-slider .item-for iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.panorama-slider .slick-dots {
    position: absolute;
    height: 5px;
    background: rgba(0, 0, 0, 0.2);
    top: -5px;
    left: 0px;
    width: 100%;
}
.panorama-slider .slick-dots li button {
    display: none;
}
.panorama-slider .slick-dots li {
    position: absolute;
    left: 0px;
    bottom: 0px;
    float: left;
    width: 0px;
    height: 5px;
    background: #d98f28;
}
.panorama-slider .slick-dots li.slick-active {
    width: 100%;
    animation: ProgressDots 11s both;
}
@keyframes ProgressDots {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}
.panorama-slider .slider-nav {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100px;
    overflow: hidden;
}
.panorama-slider .slider-nav .slick-track {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.panorama-slider .slider-nav .slick-slide {
    float: none;
}
.panorama-slider .slider-nav .item-nav {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    height: 100px;
}
.panorama-slider .slider-nav .item-nav.rec {
    background: #575fcf;
}
.panorama-slider .slider-nav .item-nav.bed {
    background: #485460;
}
.panorama-slider .slider-nav .item-nav.bath {
    background: #ff5e57;
}
.panorama-slider .slider-nav .item-nav.garden {
    background: #34e7e4;
    color: #242528;
}
.panorama-slider .slider-nav .item-nav h3 {
    letter-spacing: 1px;
    border-bottom: 1px solid;
}
@media (max-width: 450px) {
    .panorama-slider .slider-nav {
        width: 95%;
    }
    .panorama-slider .slider-nav .item-nav {
        padding: 0.5rem;
    }
    .panorama-slider .slider-nav .item-nav h3 {
        font-size: 1rem;
    }
}
.slick-slide {
    outline: none !important;
}
.gallery-tabs .nav-tabs {
    justify-content: center;
    border: none;
}
.gallery-tabs .nav-tabs .nav-item {
    text-transform: capitalize;
    color: #424040;
    margin: 0 0.5rem;
    border-radius: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.2s linear;
}
.gallery-tabs .nav-tabs .nav-item.active,
.gallery-tabs .nav-tabs .nav-item:hover {
    background: #d98f28;
    border-color: #d98f28;
    color: #fff;
}
/*  ANIMATE BOOTSTRAP TABS */
.tab-pane.active {
    animation: slide-down 0.5s ease-out;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.tab-pane.active .gallery-grid .box {
    animation: scaled 0.5s ease-out;
}
@keyframes scaled {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.gallery-tabs #map {
    width: 100%;
    height: 400px;
}
.gallery-tabs .gallery-grid {
    padding: 0.5rem;
}
.gallery-tabs .gallery-grid .box {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.7rem;
}
.gallery-tabs .gallery-grid .box img {
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* FOOTER CONTACT STYLE  */
footer.footer {
    position: relative;
    background: url("../img/d.jpg") center no-repeat;
    background-size: cover;
    padding: 5rem 0 3rem;
}
@media (max-width: 767px) {
    footer.footer {
        padding: 2rem 0;
    }
}
footer.footer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
footer.footer > .container {
    position: relative;
    z-index: 2;
}
footer.footer .contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
}
footer.footer .contact-info li:last-child {
    margin-bottom: 0;
}
footer.footer .contact-info li .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: #d98f28;
    margin-right: 0.7rem;
}
@media (max-width: 575px) {
    footer.footer .contact-info li .icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}
footer.footer .contact-info li .icon ion-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    font-size: 1.7rem;
    color: #fff;
}
@media (max-width: 575px) {
    footer.footer .contact-info li .icon ion-icon {
        font-size: 1.1rem;
    }
}
footer.footer .contact-info li h3 {
    font-size: 1.2rem;
}
@media (max-width: 575px) {
    footer.footer .contact-info li h3 {
        font-size: 1rem;
    }
}
footer.footer .contact-info li p {
    font-family: "Poppins", sans-serif;
    color: #4b4848;
    font-size: 0.8rem;
}
footer.footer .contact-title {
    color: #d98f28;
    margin-bottom: 2rem;
}
@media (max-width: 575px) {
    footer.footer .contact-title {
        font-size: 1.5rem;
    }
}
footer.footer form .form-group {
    position: relative;
}
footer.footer form .form-group ion-icon {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    color: #747272;
    font-size: 1.2rem;
}
footer.footer form .form-group.form-group--msg ion-icon {
    top: 0.6rem;
    transform: translateY(0);
}
footer.footer form .form-group.form-group--submit ion-icon {
    color: #fff !important;
    transition: 0.2s;
}
footer.footer form .form-group.form-group--submit:hover ion-icon {
    color: #d98f28 !important;
}
footer.footer form .form-control {
    padding-left: 2rem;
    border: none;
    background: none;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
footer.footer form .form-control::placeholder {
    font-family: "Poppins", sans-serif;
}
footer.footer form input[type="submit"] {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    background: #d98f28;
    border: 1px solid #d98f28;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    transition: all 0.2s linear;
}
footer.footer form input[type="submit"]:hover {
    background: transparent;
    color: #d98f28;
}
footer.footer .footer-content {
    margin-top: 5rem;
    text-align: center;
}
@media (max-width: 767px) {
    footer.footer .footer-content {
        margin-top: 0;
    }
}
footer.footer .footer-content .social-links {
    position: relative;
    display: inline-flex;
}
@media (max-width: 600px) {
    footer.footer .footer-content .social-links {
        transform: scale(0.7);
    }
}
@media (min-width: 601px) and (max-width: 700px) {
    footer.footer .footer-content .social-links {
        transform: scale(0.8);
    }
}
@media (min-width: 701px) and (max-width: 800px) {
    footer.footer .footer-content .social-links {
        transform: scale(0.9);
    }
}
footer.footer .footer-content .social-links li {
    margin: 0 10px;
}
.footer-content .social-links li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.footer-content .social-links li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b2b2b2;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}
.footer-content .social-links li a::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #e5e5e5;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}
.footer-content .social-links li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}
.footer-content .social-links li a svg {
    width: 25px;
    height: 25px;
    fill: rgba(0, 0, 0, 0.5);
}
.footer-content .social-links li:hover svg {
    fill: #fff;
    z-index: 3;
}
.footer-content .social-links li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.footer-content .social-links li:hover a span:nth-child(3) {
    transform: translate(30px, -30px);
    opacity: 1;
}
.footer-content .social-links li:hover a span:nth-child(2) {
    transform: translate(20px, -20px);
    opacity: 0.8;
}
.footer-content .social-links li:hover a span:nth-child(1) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}
.footer-content .social-links li:nth-child(1):hover span {
    background: #3b5999;
}
.footer-content .social-links li:nth-child(2):hover span {
    background: #55acee;
}
.footer-content .social-links li:nth-child(3):hover span {
    background: #e4405f;
}
footer.footer .footer-content .copyright p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 300;
}
